<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 " >
          <ng-container *ngIf="auth.isAuthenticated(),then authenticated;else notauthenticated">

          </ng-container>



          <ng-template #notauthenticated>
            <li class="nav-item"><a class="nav-link" routerLink="/register">Register</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/login">Login</a></li>
          </ng-template>

          <ng-template #authenticated>
          <li class="nav-item">
            <a class="nav-link" routerLink="/dashboard" href="#">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  routerLink="/logout">Logout</a>
          </li>
        </ng-template>
      </ul>
        
      </div>
    </div>
  </nav>